.App {
    /* text-align: center; */
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
}

.AppBar {
    background: #303030;
    font-size: 19px;
    height: 64px;
    color: #F5F5F5;
    display: flex;
    align-items: center;
}

.AppBar div {
    margin-left: 24px;
}

.AppBar span {
    font-weight: 600;
}

.AppContent {
    height: calc(100% - 64px);
    overflow: scroll;
}

.AppContent .scrollable {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    align-items: stretch;
}

.AppModeSelector {
    align-self: center;
    margin-top: 96px;
    cursor: default;
    ;
}

.AppModeSelector .current {
    font-weight: 600;
}

.AppModeSelector .non-current {
    color: #7F7F7F;
}

.AppSearchBox {
    height: 44px;
    /* width: calc(100% - 80px); */
    margin: 8px 0px;
    border-radius: 8px;
    background: #494949;
    /* align-self: center; */
    display: flex;
    align-items: center;
    padding: 0px 24px;
}

.AppSearchBox input {
    min-width: 100px;
    background: none;
    outline: none;
    border: none;
    color: white;
    flex: 1;
    font-size: 21px;
}

.AppSearchBox i {
    font-size: 27px;
    cursor: default;
}

.AppResult {
    margin-bottom: 32px;
}

.ResultItem {
    display: flex;
    align-items: center;
    padding: 8px 24px;
    font-weight: 600;
    cursor: default;
}

.ResultItem .LeftCont {
    flex: 1
}

.ResultItem .RoomNo {
    font-size: 28px;
    line-height: 1.2;
}

.ResultItem .FreeUntilCont {
    font-size: 13px;
    line-height: 1;
    text-align: right;
}

.ResultItem i {
    font-size: 32px;
}

@media(min-width:426px) {
    .scrollable {
        padding: 0px calc((100% - 360px)/2) !important;
    }
    .AppBar div {
        margin-left: 48px;
    }
}