.DetailPage {
    color: white;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    user-select: none;
}

.DetailPage .AppBar {
    cursor: default;
    background: #303030;
    font-size: 19px;
    height: 64px;
    color: #F5F5F5;
    display: flex;
    align-items: center;
    padding-left: 16px;
}

.DetailPage i {
    margin-right: 8px;
}

.DetailPage .AppContent {
    height: calc(100% - 64px);
    overflow: scroll;
}

.DetailPage .AppContent .scrollable {
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    align-items: stretch;
}

.DetailPage .RoomTitle {
    margin-top: 32px;
}

.DetailPage .RoomTitle .desc {
    font-size: 19px;
}

.DetailPage .RoomTitle .no {
    font-size: 52px;
    font-weight: 700;
    line-height: 1.1;
}

.DetailPage .TimeViewer {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.DetailPage .TimeViewer .day {
    color: #DCDCDC;
    font-weight: 500;
    font-size: 19px;
    align-self: center;
    margin-bottom: 12px;
}

.DetailPage .TimeViewer .ViewerBody {
    display: flex;
    align-items: center;
}

.DetailPage .TimeViewer .ViewerBody i {
    font-size: 64px;
    color: #747474;
    margin: 0px;
}

.DetailPage .ViewerDiag {
    flex: 1;
    height: 360px;
    background-color: #474747;
    border-radius: 4px;
    position: relative;
}

.DetailPage .textLeft {
    color: #878787;
    align-self: stretch;
    margin-right: 4px;
}

.DetailPage .textRight {
    width: 26px;
    align-self: stretch;
    color: #65CC2F;
    margin-left: 4px;
}

@media(min-width:426px) {
    .DetailPage .AppBar {
        padding-left: 64px;
    }
    .DetailPage .AppContent .scrollable {
        padding: 0px calc((100% - 360px)/2) !important;
    }
}